*{
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.top_text{
  text-align : center;
  font-size : 80px;
}
.description{
  text-align : center;
  font-size : 15px;
}
.links{
  text-align : center;
  color : #A13FE2;
  font-size : 30px;
}

.disc {
    background: url('discico.png');
    height: 48px;
    width: 48px;
    display: block;
    text-align : center;
    display: inline-block;
    width: 1,8%;
}
.steam {
    background: url('steamico.png');
    height: 48px;
    width: 48px;
    display: block;
    text-align : center;
    display: inline-block;
    width: 1,8%;
}
.vimm {
    background: url('vimmbutton.png');
    height: 48px;
    width: 48px;
    display: block;
    text-align : center;
    display: inline-block;
    width: 2;
}
.goof {
  max-width: 90px;
  max-height: 50px;
  display: block;
  text-align : left;
}
.center {
  position: relative;
  text-align : center;
  font-size : 40px;
}

.goof button:first-child{
  color: #fff;
  background: none;
}
.goof button:first-child:hover{
  background: #ffffff;
  color: #000000;
}
.center .btns button:last-child{
  background: #ffffff;
  color: #000000;
}
body {
  background-color: #8fbd8f;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}
.WebContainer{
  width:100%;
  min-width:100px;
  height:auto;
}

